<div class="container portfolio-form">
  <div class="row">
    <div class="">
      
    </div>
  </div>
</div>

<h1>Create A New Portfolio Item</h1>

<%= render 'form', portfolio_item: @portfolio_item %>