<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Brena B.'s Blog</h1>
    <p class="lead blog-description">Read my blogs here!</p>
    <%= link_to 'Create A New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>