<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Brena B.'s Chat</h1>
    <p class="lead blog-description">Chat here with anybody!</p>
    <%= link_to 'Write A New Chat', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>