<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View All Portfolio Items", portfolios_path, class: "btn btn-primary" %>   
      <a href="#", class="btn btn-primary">Back To Top</a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>