<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">On this portfolio page, you can view information about my business,
        including projects I've done, and other items. You can also find information
        on the tools I have, such as beads, string, and colors. I will keep this page updated with anything
        new I create.</p>
        
      </div>
      <div class="col-sm-4 py-4">
        <h3 class="text-white">Explore</h3>
        <ul class="list-unstyled">
          <%= nav_helper 'text-white', 'li' %>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <h1>
      <a href="#" class="navbar-brand">Welcome to the Beading Brena's Jewelry Portfolio</a>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

