<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Brena's Portfolio</h1>
    <p class="lead text-muted">This is where you can view my accomplishments. I will keep this page updated at all times.</p>
    <p>
      <%= link_to 'Home Page', root_path, class: 'btn btn-primary' %>
      <%= link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-primary' %>
    </p>
  </div>
</section>