<h1>About Me</h1>

<hr>

<h4>My Family</h4>

<p style = "font-size:14px">
Allow me to introduce myself. I am Brena A. I grew up with a very 
happy family of my mother, father, me, and my brother. I lived in a 
small house with a giant cherry tree. I loved the shade of that tree
and jumping on the trampoline under it and picking the cherries. My
dog was the best dog that ever lived. It was wonderful. I was 
devastated when my parents told me we were moving. We moved a small
distance, but I still miss that house very much. I learned to like
the house I live in now. Eventually, though, a new person arrived in
our family and disrupted the peacefulness. He was my great uncle.
We've had him for almost 4 years, but he was about 38 when his mother
died and we started caring for him because he was disabled. Ever since
then, my family was different. My brother, who has diabetes and
downsyndrome, acted more like him, which is getting to the point where
it is just down right wrong. Family issues have built up tension, and
now I think the only person who is truly happy in our family is him.
We are all either sad, slightly happy, or angry. It is just something
so complex and horrible that it can't be described in words. We are
still holding strong, though. My dad started his own business, and
my mom got a job. We are about to move again, but this time far away.
I don't think I will miss here too much after what's happened.
</p>

<h4>Experience In Coding</h4>

<p style = "font-size:14px">
I have some experience in coding. I know HTML, CSS, SCSS, Ruby on Rails,
Ruby, BootStrap, Devise and the command line. I can work in the terminal
and in Sublime Text. This website was created from scratch with my
knowledge. I have taken <a href="http://ctsutah.com/" style="color: #33ccff">Code To Success</a>
and I have an account on <a href="https://www.codecademy.com/" style="color: #33ccff">CodeCademy</a>.
I also have accounts on <a href="https://learn.pluralsight.com/programs/pluralsight?aid=701j0000002BG
i3AAG&oid=&promo=&searchsegment=ppcbrand&utm_campaign=BR-Core-US-E&utm_content=&utm_medium=ppc&utm_so
urce=google&utm_term=&gclid=EAIaIQobChMIkYiUqtiG1QIV2bjACh2eqQJvEAAYASAAEgKC0fD_BwE" style="color: #33ccff">
PluralSight</a> and <a href="https://c9.io/?redirect=0" style="color: #33ccff">Cloud 9</a>. I have created my own Ruby
Gem and published it to <a href="https://rubygems.org/" style="color: #33ccff">RubyGems.org</a>.
I like coding and programming because there is always something new to
learn and it encourages me to use problem solving skills.
</p>

<h4>Hobbies</h4>

<p style = "font-size:14px">
Obviously, one of my hobbies is coding and programming, but I also like to
bead and make jewelry, read books, play puzzle games, and just enjoy school.
I like to make jewelry, because I can use my hands for fine motor skills and
it makes something beautiful that someone can use. I enjoy reading books,
because it takes me away from the world, into somewhere I can just relax.
I play puzzle games because I find it is challenging and fun at the same
time. You complete one puzzle, and move on to the next and text your brain.
Lastly, I am fond of school because it simply gives you knowledge that
you will use later in life. My favorite subject is math, then science, 
history, and English. Most kids think school is the most boring thing, and 
is a waste of time, but I see it differently. It is somewhere to learn new
things and work hard.
</p>