<h1>Contact Me</h1>

<hr>

<div class="row">
    <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <p>
            You can contact me through this website at the link below:
        </p>
        <p class="lead">
            <%= link_to "Blog", blogs_path, class: "btn btn-lg btn-primary" %>
        </p>
        <p>
            You can also contact me at my email:
        </p>
        <p>
            <a href="mailto:banz3398@csddocs.org?subject=Contact" "email me" class="btn btn-lg btn-primary">My Email</a>
        </p>
    </div>
    
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d214840.5085532554!2d-117.30115948359374!3d32.715737999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d954a7e608666d%3A0xc8b6a5e966551b0e!2sGem+Faire!5e0!3m2!1sen!2sus!4v1501516042563" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>