<h1>Contact Me</h1>

<p><%= number_to_phone "7878787887" %></p>

<p><%= number_to_currency "8778" %></p>

<p><%= number_to_percentage "78.87" %></p>

<p><%= number_with_delimiter "7878787887787878878887877777878778888787" %></p>

<p>© BADGER MUSHROOM SQUASH FOR THE WIN!</p>

<p>© PINK WATERMELON DOT TOO!</p>