<div class="inner cover">
  <h1 class="cover-heading">Beading Brena's Jewelry</h1>
  <p class="lead">Hello, world! Welcome to my website! Here, you can view updates on my blog for my business,
  read my portfolio items and post your own, and learn about me! To learn about me and my experience, just 
  click on the button below.</p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>