<div class="inner cover">
  <h1 class="cover-heading">Cost Engineers, Inc.</h1>
  <p class="lead">Some content here. IDK what to put here because dad is exhausted from work and cleaning the garage today, so he won't answer his phone..</p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>